@model DevJANGO.App.ViewModels.AlunoInscritoViewModel

<input type="hidden" asp-for="AreaDeConhecimentoId" class="form-control" />
<input type="hidden" asp-for="FuncionarioCaixaId" class="form-control" />
<input type="hidden" asp-for="NiveisDeEnsinoId" class="form-control" />
<input type="hidden" asp-for="Estado" class="form-control" />
<input type="hidden" asp-for="AnoLetivo" class="form-control" />

<div class="row">

    <div class="form-group col-md-5">
        <div style="padding-top:5px">
            <label asp-for="ImagemUpload" class="control-label"></label>

            <div class="custom-file">
                <input type="file" class="form-control custom-file-input" id="ImagemUpload" asp-for="ImagemUpload">
                <label data-browse="Procurar" style="width: 400px" class="custom-file-label" for="ImagemUpload"></label>
                <label style="display: none" id="img_nome"></label>
            </div>
            <span asp-validation-for="ImagemUpload" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group col-md-2">
        <label asp-for="TipoDocumento"></label>
        <div>
            <input type="radio" value="1" asp-for="TipoDocumento" /> BI<br />
            <input type="radio" value="2" asp-for="TipoDocumento" checked /> Cédula<br />
        </div>

    </div>

    <div class="form-group col-md-2 form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="Sexo" /> @Html.DisplayNameFor(model => model.Sexo)
        </label>
    </div>

    <div class="form-group col-md-3">
        <label asp-for="NumDocumento" class="control-label"></label>
        <input asp-for="NumDocumento" class="form-control" />
        <span asp-validation-for="NumDocumento" class="text-danger"></span>
    </div>
</div>
<hr />
<div class="row">

    <div class="form-group col-md-4">
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Datanascimento" class="control-label"></label>
            <input asp-for="Datanascimento" class="form-control" />
            <span asp-validation-for="Datanascimento" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label class="control-label">Classe a Inscrever-se</label>
            <select asp-for="ClasseId" class="form-control" asp-items="@(new SelectList(Model.Classes, "Id", "Nome"))">
                <option></option>
            </select>
            <span asp-validation-for="ClasseId" class="text-danger"></span>
        </div>

    </div>

    <div class="form-group col-md-4">

        <div class="form-group">
            <label asp-for="EscolaDeOrgigem" class="control-label"></label>
            <input asp-for="EscolaDeOrgigem" class="form-control" />
            <span asp-validation-for="EscolaDeOrgigem" class="text-danger"></span>
        </div>
      
        <div class="form-group">
            <label asp-for="NomeDoPai" class="control-label"></label>
            <input asp-for="NomeDoPai" class="form-control" />
            <span asp-validation-for="NomeDoPai" class="text-danger"></span>
        </div>


    </div>

    <div class="form-group col-md-4">
        <div class="form-group">
            <label asp-for="NomeDaMae" class="control-label"></label>
            <input asp-for="NomeDaMae" class="form-control" />
            <span asp-validation-for="NomeDaMae" class="text-danger"></span>
        </div>

        <label asp-for="EncarregadoId" class="control-label"></label>
        <select asp-for="EncarregadoId" class="form-control" asp-items="@(new SelectList(Model.Encarregados, "Id", "Nome"))">
            <option></option>
        </select>
        <span asp-validation-for="EncarregadoId" class="text-danger"></span>

        <label asp-for="GrauDeParentescoId" class="control-label"></label>
        <select asp-for="GrauDeParentescoId" class="form-control" asp-items="@(new SelectList(Model.GrauDeParentescos, "Id", "NomeGrauParentesco"))">
            <option></option>
        </select>
        <span asp-validation-for="GrauDeParentescoId" class="text-danger"></span>

    </div>

</div>

<div class="row">
    <div class="form-group col-md-7">
        <div class="form-group">
            <label asp-for="Endereco" class="control-label"></label>
            <textarea cols="40" rows="2" asp-for="Endereco" class="form-control"></textarea>
            <span asp-validation-for="Endereco" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group col-md-2 form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="AlunoInterno" /> @Html.DisplayNameFor(model => model.AlunoInterno)
        </label>
    </div>
   
    <div class="form-group col-md-3">
        <div class="form-group">
            <label asp-for="ValorDaInscricao" class="control-label"></label>
            <input asp-for="ValorDaInscricao" class="form-control" />
            <span asp-validation-for="ValorDaInscricao" class="text-danger"></span>
        </div>
    </div>
</div>

<div>
    &nbsp;
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#ImagemUpload").change(function () {
            $("#img_nome").text(this.files[0].name);
            $("#img_nome")[0].style.display = 'block';
        });

        $("#ImagemUpload").attr("data-val", "true");
        $("#ImagemUpload").attr("data-val-required", "Preencha o campo Foto");
    </script>
}
