@using DevJANGO.App.Extensions
@model IEnumerable<DevJANGO.App.ViewModels.PagamentoPropinaViewModel>

<table class="table table-hover">
    <thead class="table-dark">
         <tr>
            <th>
                @Html.DisplayName("Aluno")
            </th>
            <th>
                @Html.DisplayName("Mês")
            </th>
            <th>
                @Html.DisplayName("Preço")
            </th>
            <th>
                @Html.DisplayName("Total Pago")
            </th>

            <th></th>
        </tr> 
    </thead>
    <tbody>
        @foreach (var item in Model.Where(c => c.Ativo == false))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlunoMatriculado.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroDeMeses)
                </td>
                <td>
                    @this.FormatoMoeda(item.PrecoPropina)
                </td>
             
                <td>
                    @this.FormatoMoeda(item.TotalPago)
                </td>
                <td class="text-end">
                    <a class="btn btn-dark" asp-controller="Propinas" asp-action="Edit"
                    asp-route-id="@item.Id">Pagar Este Mês</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td colspan="12" class="text-end">
                @* @Model.Sum(v => (v.PrecoPropina)).ToString("C") *@
                @this.(Model.Sum(v => FormatoMoeda(v.PrecoPropina)))
               
            </td>
        </tr>
    </tfoot>
</table>