@model DevJANGO.App.ViewModels.PagamentoPropinaViewModel

@{
    ViewData["Title"] = "Selecione o aluno";
    Layout = "/Areas/Encarregado/Views/Shared/_LayoutEncarregado.cshtml";
}

<div class="container">
    <h1 style="padding-top: 10px">@ViewData["Title"] para efetuar o pagamento da propina</h1>
    <hr />

  
    <partial name="_CriarBuscaParaPagamentoEncarregado" />
   
    <div class="row">
            <form asp-action="CreateEncarregado">
                <vc:Summary></vc:Summary>

               @*  <input type="hidden" asp-for="PercentualDesconto" class="form-control" /> *@
                <input type="hidden" asp-for="ValorDesconto"  class="form-control" />
                <input type="hidden" asp-for="TotalPago" class="form-control"  />
                <input type="hidden" asp-for="Descricao"  />
                <input type="hidden" asp-for="TipoPagamento" />
         @*        <input type="hidden" asp-for="NumeroDeTransacaoDePagamento" class="form-control" value="1233456" /> *@
                <input type="hidden" asp-for="Ativo" />
                <input type="hidden" asp-for="FuncionarioCaixaId" />
                <input type="hidden" asp-for="NumeroDeMeses" />
                <input type="hidden" asp-for="PrecoPropina" />

                <input asp-for="AlunoMatriculado.Id" value="@TempData["Id"]" type="hidden" />
                <input asp-for="AlunoMatriculado.Nome" value="@TempData["Nome"]" type="hidden" />

                <br />
                <div class="row gx-2">
                    <div class="col-4">
                        <input value="@TempData["Nome"]" readonly="readonly" class="form-control" />
                    </div>

                    <div class="col-4">
                        <input value="@TempData["Classe"]" readonly="readonly" class="form-control" />
                    </div>
                </div>

                <div class="form-group" style="padding-top: 25px">
                    <input type="submit" value="Selecione Meses a pagar" class="btn btn-primary" />
                </div>
            </form>
    </div>

</div>
<br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
