@using DevJANGO.App.Extensions
@model DevJANGO.App.ViewModels.PagamentoPropinaViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImprimirVenta</title>
    <style>
        .contenedor {
            width: 900px !important;
            height: 842px !important;
            margin: auto;
        }

        body {
            font-family: Arial, Helvetica, sans-serif
        }

        p.title {
            font-weight: bold;
        }

        p.title2 {
            font-weight: bold;
            color: #03A99F;
            font-size: 20px;
        }

        p.text {
            font-size: 15px;
            font-weight: 100;
            color: #858585;
        }

        p {
            margin: 0px
        }

        .tbth {
            text-align: left;
        }

        table.tbproductos {
            border-collapse: separate;
            border-spacing: 4px;
        }

            table.tbproductos thead tr th {
                background-color: #03A99F;
                padding: 10px;
                font-size: 15px;
                color: white;
            }

            table.tbproductos tbody tr td {
                padding: 10px;
            }

        .item {
            font-size: 15px;
            font-weight: 100;
            color: #757575;
        }

        .item-2 {
            font-size: 15px;
            font-weight: bold;
            color: #757575;
        }

        .item-3 {
            font-size: 15px;
            font-weight: bold;
            background-color: #03A99F;
            color: white;
        }

        .td-item {
            border-bottom: 2px solid #E8E8E8 !important;
        }

    </style>
</head>
<body>

    <div class="contenedor">

        <table style="width:100%">
            <tr>
                <td>
                    <img src="~/imagens/logo/logo-Jango.png" style="width: 60px;" />
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr><td><p class="title2">NÚMERO DO PAGAMENTO</p></td></tr>
                        <tr><td>@Model.Codigo</td></tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <table style="width:100%">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <p class="title">JANGO DA INTELIGÊNCIA</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="text">Localização: Rua nº xxx, Luanda, Angola</p></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Email: info@jangointeligencia.com</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr>
                            <td><p class="title">Nome do Aluno</p></td>
                        </tr>
                        <tr>
                            <td><p class="text">@Model.Nome</p></td>
                        </tr>
                        <tr>
                            <td><p class="text"><small class="title">Cédula/BI: </small> @Model.Documento</p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <br />

        <table class="tbproductos" style="width:100%">
            <thead>
                <tr>
                    <th class="tbth">Mês</th>
                    <th class="tbth">Número de Meses</th>
                    <th class="tbth">Preço</th>
                    <th class="tbth">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    @foreach (var item in Model.PropinaDetalhe)
                    {
                        <tr>
                            <td class="td-item"><p class="item">@item.DescricaoPropina</p></td>
                            <td class="td-item"><p class="item">1</p></td>
                            <td class="td-item"><p class="item">@this.FormatoMoeda(item.PrecoPropina)</p></td>
                            <td class="td-item"><p class="item">@this.FormatoMoeda(item.PrecoPropina)</p></td>
                        </tr>

                    }
                }
                <tr>
                    <td colspan="2" rowspan="3">
                    </td>
                    <td class="td-item">
                        <p class="item-2">Sub Total</p>
                    </td>
                    <td class="item-3">
                        <p>
                            @this.FormatoMoeda(Model.TotalPago)
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="td-item">
                        <p class="item-2">Desconto</p>
                    </td>
                    <td class="item-3">
                        <p>
                            @this.FormatoMoeda(Model.ValorDesconto)
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="item-3">
                        <p>Total</p>
                    </td>
                    <td class="item-3">
                        <p>@this.FormatoMoeda(Model.TotalPago - Model.ValorDesconto)</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <br />
        <hr @* LINHA DE DIVISÃO DA FATURA *@ />
        <br />

        <table style="width:100%">
            <tr>
                <td>
                    <img src="~/imagens/logo/logo-Jango.png" style="width: 60px;" />
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr><td><p class="title2">NÚMERO DO PAGAMENTO</p></td></tr>
                        <tr><td>@Model.Codigo</td></tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <table style="width:100%">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <p class="title">JANGO DA INTELIGÊNCIA</p>
                            </td>
                        </tr>
                        <tr>
                            <td><p class="text">Localização: Rua nº xxx, Luanda, Angola</p></td>
                        </tr>
                        <tr>
                            <td>
                                <p class="text">Email: info@jangointeligencia.com</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="text-align:right">
                    <table style="margin-right:0;margin-left:auto">
                        <tr>
                            <td><p class="title">Nome do Aluno</p></td>
                        </tr>
                        <tr>
                            <td><p class="text">@Model.Nome</p></td>
                        </tr>
                        <tr>
                            <td><p class="text"><small class="title">Cédula/BI: </small> @Model.Documento</p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <br />

        <table class="tbproductos" style="width:100%">
            <thead>
                <tr>
                    <th class="tbth">Mês</th>
                    <th class="tbth">Número de Meses</th>
                    <th class="tbth">Preço</th>
                    <th class="tbth">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                @{
                    @foreach (var item in Model.PropinaDetalhe)
                    {
                        <tr>
                            <td class="td-item"><p class="item">@item.DescricaoPropina</p></td>
                            <td class="td-item"><p class="item">1</p></td>
                            <td class="td-item"><p class="item">@this.FormatoMoeda(item.PrecoPropina)</p></td>
                            <td class="td-item"><p class="item">@this.FormatoMoeda(item.PrecoPropina)</p></td>
                        </tr>

                    }
                }
                <tr>
                    <td colspan="2" rowspan="3">
                    </td>
                    <td class="td-item">
                        <p class="item-2">Sub Total</p>
                    </td>
                    <td class="item-3">
                        <p>
                            @this.FormatoMoeda(Model.TotalPago)
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="td-item">
                        <p class="item-2">Desconto</p>
                    </td>
                    <td class="item-3">
                        <p>
                            @this.FormatoMoeda(Model.ValorDesconto)
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="item-3">
                        <p>Total</p>
                    </td>
                    <td class="item-3">
                        <p>@this.FormatoMoeda(Model.TotalPago - Model.ValorDesconto)</p>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>
</html>
