@using DevJANGO.App.Extensions
@model IEnumerable<DevJANGO.App.ViewModels.PropinaViewModel>

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayName("Descrição da Propina")
            </th>
            <th>
                @Html.DisplayName("Valor")
            </th>
            <th>
                @Html.DisplayName("Ano Lectivo")
            </th>
            <th>
                @Html.DisplayName("Situação")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(c => c.Situacao == 1))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoPropina)
                </td>
                <td>
                    @this.FormatoMoeda(item.PrecoPropina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnoLetivo)
                </td>
                <td>
                    @if (item.Situacao == 1)
                    {
                        <span class="text-primary">Pago</span>
                    }
                    else
                    {
                        <span class="text-warning">Matricula Pendente</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>