@model IEnumerable<DevJANGO.App.ViewModels.GrauDeParentescoViewModel>

@{
    ViewData["Title"] = "Lista";
}

<br />
<div class="container">
    <h1>@ViewData["Title"] Grau De Parentesco</h1>

    <vc:Summary></vc:Summary>
    <p>
        <a class="btn btn-info" asp-action="Create">Novo Grau De Parentesco</a>
    </p>
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeGrauParentesco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
                <tr>
                 <td>
                     @Html.DisplayFor(modelItem => item.NomeGrauParentesco)
                 </td>
                    <td class="text-end">
                        <a class="btn btn-info" asp-controller="GrauDeParentescos" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>
                        <a class="btn btn-warning" asp-controller="GrauDeParentescos" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>
                        <a class="btn btn-danger" asp-controller="GrauDeParentescos" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />
