@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro de novo usuário";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="section-conten padding-y container" style="min-height: 35vh">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px;border-style: solid; border-color: #FF0000;">
        <div class="card-body" style="margin-bottom:0px;">
            <h4 class="card-title mb-4">Seja bem vindo!</h4>

            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

         @*        <div class="form-group">
                    <label asp-for="Input.UserName">Nome</label>
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="primeiro e último nome" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <input asp-for="Input.Nome" class="form-control" autocomplete="username" aria-required="true" placeholder="primeiro e último nome" />
                    <span asp-validation-for="Input.Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                  @*   <label asp-for="Input.Email">Email</label> *@
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin: 16px;">
              @*       <label asp-for="Input.Password">Senha</label> *@
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Senha" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin: 16px;">
                @*     <label asp-for="Input.ConfirmPassword">Repita a Senha</label> *@
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Repita a senha" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="registerSubmit" type="submit" class="btn btn-primary btn-block" style="margin: 5px;">Registar</button>
                </div>
            </form>

        </div>
        <div class="card-footer text-center">Já tem uma conta?<a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl"> Entrar</a></div>
    </div>
</section>
@* 
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-12">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirma Senha</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registar</button>
        </form>
    </div>
@*     <div class="col-md-6 col-md-offset-2"> *@
  @*    <div class="col-md-6">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> 
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
