@using DevJANGO.App.Extensions
@model IEnumerable<DevJANGO.App.ViewModels.PedidoViewModel>

@{
    ViewData["Title"] = "Novo Pedido";
}

<h1>@ViewData["Title"]</h1>
<hr />

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlunoMatriculado.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDesconto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(c => c.Ativo == false))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlunoMatriculado.Nome)
                </td>
                <td>
                   @this.FormatoMoeda(item.ValorDesconto)
                </td>
                <td>
                    @this.FormatoMoeda(item.ValorTotal)
                </td>

                <td class="text-end">
                    <a class="btn btn-warning" asp-controller="Pedidos" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-shopping-cart"></spam></a>
                    <a class="btn btn-danger" asp-controller="Pedidos" asp-action="ApagarPedido" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                </td>
            </tr>
        }
    </tbody>
</table>

